certifi==2026.2.25
charset-normalizer==3.4.7
click==8.3.1
colorama==0.4.6
docopt==0.6.2
google-play-scraper==1.2.7
idna==3.11
joblib==1.5.3
nltk==3.9.4
num2words==0.5.14
numpy==2.4.4
pandas==3.0.2
python-dateutil==2.9.0.post0
regex==2026.3.32
requests==2.33.1
six==1.17.0
tqdm==4.67.3
tzdata==2025.3
urllib3==2.6.3
